# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#pd.readcsv


cities_data = pd.read_csv('../WeatherPy/output_data/cities.csv')
cities_data=cities_data.drop(['Unnamed: 0'], axis=1)
cities_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,bandarbeyla,9.4942,50.8122,79.65,73,99,11.32,SO,1615784508
1,punta arenas,-53.1500,-70.9167,48.20,93,90,5.75,CL,1615784508
2,saint-philippe,-21.3585,55.7679,78.80,78,97,8.05,RE,1615784509
3,puerto el triunfo,13.2833,-88.5500,75.20,83,0,2.30,SV,1615784509
4,port alfred,-33.5906,26.8910,69.01,96,99,11.07,ZA,1615784510
...,...,...,...,...,...,...,...,...,...
556,zhuanghe,39.7008,122.9911,46.00,89,100,9.57,CN,1615784741
557,carauari,-4.8828,-66.8958,72.19,93,80,1.01,BR,1615784741
558,asfi,32.2994,-9.2372,57.69,75,98,17.09,MA,1615784741
559,luena,-11.7833,19.9167,61.29,96,90,2.37,AO,1615784742
560,kirkuk,35.4681,44.3922,60.30,48,98,1.16,IQ,1615784742

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [ ]:
#Look at heatmap 
#google maps documentation

In [3]:
#Configure gmaps
gmaps.configure(api_key=g_key)

#locations
destination = cities_data[["Lat", "Lng"]]

#Weight
Humidity = cities_data["Humidity"].astype(float)

In [33]:
#plot Heatmap
fig = gmaps.figure()

# Create heat map layer
heat_layer = gmaps.heatmap_layer(destination, weights=Humidity, dissipating=False, max_intensity=50, point_radius=2.5)

#Add Layer
fig.add_layer(heat_layer)

#display
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#Filter data for zero cloudiness, temperature between 70-80, and wind speed below 10
no_cloud = cities_data[cities_data["Cloudiness"]==0]

temp_70 = no_cloud[no_cloud["Max Temp"]>70]
temp_80 = temp_70[temp_70["Max Temp"]<80]
low_wind = temp_80[temp_80["Wind Speed"] <10]

low_wind

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,puerto el triunfo,13.2833,-88.5500,75.20,83,0,2.30,SV,1615784509
82,guozhen,34.3659,107.3590,74.26,36,0,4.54,CN,1615784544
87,pisco,-13.7000,-76.2167,75.20,69,0,9.22,PE,1615784546
97,belmonte,-15.8631,-38.8828,73.40,88,0,2.30,BR,1615784550
127,nautla,20.2167,-96.7833,73.51,93,0,6.11,MX,1615784563
147,sao filipe,14.8961,-24.4956,70.39,74,0,4.65,CV,1615784571
150,caravelas,-17.7125,-39.2481,72.54,87,0,3.13,BR,1615784572
168,east london,-33.0153,27.9116,71.60,88,0,6.91,ZA,1615784579
216,macae,-22.3708,-41.7869,73.40,100,0,2.30,BR,1615784599
234,xichang,27.8964,102.2634,72.81,40,0,3.38,CN,1615784606
252,sikasso,10.9167,-7.0000,71.10,22,0,0.38,ML,1615784614
379,vila velha,-20.3297,-40.2925,77.00,83,0,3.44,BR,1615784523
393,the valley,18.2170,-63.0578,75.20,78,0,2.30,AI,1615784674
423,lima,-12.0432,-77.0282,75.99,78,0,4.61,PE,1615784687
439,xixiang,35.1628,112.8650,76.98,36,0,5.70,CN,1615784694
474,markala,13.7021,-6.0659,70.50,26,0,9.44,ML,1615784707
480,alenquer,-1.9417,-54.7383,75.20,100,0,3.44,BR,1615784709
507,young,-32.6833,-57.6333,71.01,57,0,3.00,UY,1615784720

In [31]:
#Configure gmaps
gmaps.configure(api_key=g_key)

#locations
destination = low_wind[["Lat", "Lng"]]

#Weight
Humidity = low_wind["Humidity"].astype(float)


# Customize the size of the figure
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout) 

# Assign the marker layer to a variable
markers = gmaps.marker_layer(destination)
# Add the layer to the map
fig.add_layer(markers)


# Plot Heatmap
fig = gmaps.figure()
# Create heat layer

heat_layer = gmaps.heatmap_layer(destination, weights=Humidity, 
                                 dissipating=False, max_intensity=50,
                                 point_radius=2.5)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [36]:
#class activity similar but will also need to go through google api documentation

#https://maps.googleapis.com/maps/api/place/nearbysearch/json?location=-33.8670522,151.1957362&radius=1500&type=lodging&key=g_key
#change location and radius

hotel_df = low_wind

params = {
        "radius": 5000,
        "types": "lodging",
        "key": g_key
    }

for index, row in hotel_df.iterrows():
    Lat = row["Lat"]
    Lng = row["Lng"]

    #add coordinates
    params["location"] = f"{Lat},{Lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    #create request url
    print(f"Get Hotel {index}: {row['City']}.")
    answer = requests.get(base_url, params=params).json()
    

    #get results
    results = answer['results']

    try:
        print(f"Hotel near by is {results[0]['name']}.")
        hotel_df.loc[index, 'Hotel Name'] = results[0]['name']
    except (KeyError, IndexError):
        print("skipped, no data")

    print("--------------")

Get Hotel 3: puerto el triunfo.
Hotel near by is Hotel Jardin.
--------------
Get Hotel 82: guozhen.
C:\Users\court\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s
Hotel near by is Yucai Hotel.
--------------
Get Hotel 87: pisco.
Hotel near by is Hotel San Isidro Oficial.
--------------
Get Hotel 97: belmonte.
Hotel near by is Pousada Monte Carmelo O PÃ£o.
--------------
Get Hotel 127: nautla.
Hotel near by is Casa Blanca.
--------------
Get Hotel 147: sao filipe.
Hotel near by is Tortuga B&B.
--------------
Get Hotel 150: caravelas.
Hotel near by is Pousada dos Navegantes.
--------------
Get Hotel 168: east london.
Hotel near by is Tu Casa.
--------------
Get Hotel 216: macae.
Hotel near by is Personal Hotel.
--------------
Get Hotel 234: xichang.
Hotel near by is Xichang ibis Hotel.
--------------
Get Hotel 252: sikasso.
skipped, no data
--------------
Get Hotel 379: vila velha.
Hotel near by is Quality Suites Vila Velha.
--------------
Get Hotel 393: the valley.
Hotel near by is CeBlue Villas & Beach Resort.
--------------
Get Hotel 423: lima.
Hotel near by is Gran Hotel Bolivar Lima.
--------------
Get Hotel 439: xixiang.
Hotel near by is Sanmao Hotel Hotel.
--------------
Get Hotel 474: markala.
Hotel near by is Yaya HÃ´tel.
--------------
Get Hotel 480: alenquer.
Hotel near by is Josilene Castro.
--------------
Get Hotel 507: young.
Hotel near by is Posada Gira el Sol.
--------------

In [37]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel Name
3,puerto el triunfo,13.2833,-88.5500,75.20,83,0,2.30,SV,1615784509,Hotel Jardin
82,guozhen,34.3659,107.3590,74.26,36,0,4.54,CN,1615784544,Yucai Hotel
87,pisco,-13.7000,-76.2167,75.20,69,0,9.22,PE,1615784546,Hotel San Isidro Oficial
97,belmonte,-15.8631,-38.8828,73.40,88,0,2.30,BR,1615784550,Pousada Monte Carmelo O PÃ£o
127,nautla,20.2167,-96.7833,73.51,93,0,6.11,MX,1615784563,Casa Blanca
147,sao filipe,14.8961,-24.4956,70.39,74,0,4.65,CV,1615784571,Tortuga B&B
150,caravelas,-17.7125,-39.2481,72.54,87,0,3.13,BR,1615784572,Pousada dos Navegantes
168,east london,-33.0153,27.9116,71.60,88,0,6.91,ZA,1615784579,Tu Casa
216,macae,-22.3708,-41.7869,73.40,100,0,2.30,BR,1615784599,Personal Hotel
234,xichang,27.8964,102.2634,72.81,40,0,3.38,CN,1615784606,Xichang ibis Hotel
252,sikasso,10.9167,-7.0000,71.10,22,0,0.38,ML,1615784614,NaN
379,vila velha,-20.3297,-40.2925,77.00,83,0,3.44,BR,1615784523,Quality Suites Vila Velha
393,the valley,18.2170,-63.0578,75.20,78,0,2.30,AI,1615784674,CeBlue Villas & Beach Resort
423,lima,-12.0432,-77.0282,75.99,78,0,4.61,PE,1615784687,Gran Hotel Bolivar Lima
439,xixiang,35.1628,112.8650,76.98,36,0,5.70,CN,1615784694,Sanmao Hotel Hotel
474,markala,13.7021,-6.0659,70.50,26,0,9.44,ML,1615784707,Yaya HÃ´tel
480,alenquer,-1.9417,-54.7383,75.20,100,0,3.44,BR,1615784709,Josilene Castro
507,young,-32.6833,-57.6333,71.01,57,0,3.00,UY,1615784720,Posada Gira el Sol

In [38]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [40]:
# Assign the marker layer to a variable
dest_hotel = gmaps.symbol_layer(locations, scale=2, info_box_content=hotel_info
)
# Add marker layer ontop of heat map
fig.add_layer(markers)
# Add the layer to the map
fig.add_layer(dest_hotel)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))